<div class="card">
  <div class="card-header">
      <div class="col-md-10 pull-left">
        <h3>Bonus Idrico</h3>
      </div>
        <div class="btn-group pull-right">
            <div class="col-md-2" > <button  title="carica lotto" id="btngoogleid" #btngoogle class="btn btn-success" confirm ><span class="fa fa-download"></span></button></div>
            <div class="col-md-2 "> <button class="btn btn-success" id="btnlocalid" #btnlocal confirm> <span class="fa fa-archive"></span> </button></div>
            <div class="col-md-2" > <button id="btngoogleid" #btngoogle class="btn btn-success"  (click)="provapromise()"   ><span class="fa fa-battery-empty"></span></button></div>
        </div>
    </div>
  <div class="card-body">

    <table class="table" id="tblBIArchive" class="table table-striped table-bordered ">
      <thead id="thd">
        <tr>
          <th>Stato</th>
          <th>Id</th>
          <th>Descrizione</th>
          <th>Stato</th>
          <th>Esito</th>
          <th>DataAcquisizione</th>
          <th>DataConfermaSgate</th>
          <th>DataInvioEsiti</th>
          <th>DataScadenza</th>
          <th>RichiesteAutoVal</th>
          <th>RichiesteTotali</th>
          <th>RichiesteVal</th>
        </tr>
      </thead>
      <tbody id="tblBIArchiveBody">
        <tr *ngFor="let item of lotti; let i=index" (click)="selectrow(i)"   [style.background-color]="selectedrow==i ?'red':'white'"  #row >
          <td> <i  [ngClass]="item.Desc" ></i> </td>
          <td>{{item.LotId}}</td>
          <td>{{item.LotId}}</td>
          <td>{{item.DataCarico}}</td>
          <td>{{item.DataAcquisizione}}</td>
          <td>{{item.DataConfermaSgate}}</td>
          <td>{{item.DataInvioEsiti}}</td>
          <td>{{item.DataScadenza}}</td>
          <td>{{item.RichiesteAutoVal}}</td>
          <td>{{item.RichiesteTotali}}</td>
          <td>{{item.RichiesteVal}}</td>
          <!-- <td>{{item.nascita| date : " MMMM d, y" }}</td> -->
          <td><a href="#" (click)="getSgateReqs(item.LotId)" class="fa fa-lg fa-arrow-right"></a></td>
        </tr>
      </tbody>
    </table>

  <!--</div>
   <div class="card-footer text-muted">
      <ng-content #name></ng-content>
  </div> -->
</div>

