<td>{{request.LotId}}</td>
<td>{{request.ReqNome}}</td>
<td>{{request.ReqCognome}}</td>
<td>{{request.ProtDomanda}}</td>
<td>{{request.ProtRichiesta}}</td>
<td>{{request.IndNome}}</td>
<td>{{request.ReqIstatComune}}</td>
<td>{{request.ReqIstatComune}}</td>
<td>{{request.ReqEnteAreaCir}}</td>
<td>{{request.IndCf}}</td>
<td>{{request.ReqCf}}</td>
<td>{{request.IndAreaCirc}}</td>
<td><input type="text" [(ngModel)]="request.EsitoS"> </td>
<td><input type="text" [(ngModel)]="request.EsitoD"> </td>



<!-- 


TipoDomanda:string;
    SgateId:number;
    ReqTipoDoc:string;
    ReqScala:string;
    ReqNumeroDoc:string;
    ReqNome:string;
    ReqInterno:string;
    ReqEnteRilsascioDoc:string;
    ReqEnteAreaCir:string;
    ReqEdificio:string;
    ReqDataDoc:Date;
    ReqCognome:string;
    ReqCivico:string;
    ReqCf:string;
    ReqCap:string;
    ProtRichiesta:number;
    ProtDomanda:number;
    LotId:number;
    IndTipoDoc:string;
    IndScala:string;
    IndNumeroDoc:string;
    IndNome:string;
    IndIstatComune:string;
    IndInterno:string;
    IndEnteRilDoc:string;
    IndEdificio:string;
    IndDataDoc:Date;
    IndCognome:string;
    IndCivico:string;
    IndCf:string;
    IndCap:string;
    IndAreaCirc:string;
    FruizioneCont:boolean;
    Forzato:boolean;
    EsitoS:string;
    EsitoD:string;
    DettaglioErrores:string;
    DataPresentazione:Date;
    DataPresaIncarico:Date;
    DataInvioEsitoD:Date;
    DataInizioAgev:Date;
    DataFineAgev:Date;
    DataDisponibilita:Date;
    DataChiusuras:Date;
    DataAmmissione:Date;
    DataAcquisizione:Date;
    CompFamigliaAnag:string;
    CodUtenteInd:string;
    CodUtenteCentr:string;
    CodErroreS:number;
    CentrScalae3:string;
    CentrScala2:string;
    CentrScala:string;
    CentrIstatComune3:string;
    CentrIstatComune2:string;
    CentrIstatComune:string;
    CentrInterno3:string;
    CentrInterno2:string;
    CentrInterno:string;
    CentrIban:string;
    CentrEdificioPlurifam:string;
    CentrEdificio3:string;
    CentrEdificio2:string;
    CentrEdificio:string;
    CentrDenCondominio:string;
    CentrCivico3:string;
    CentrCivico2:string;
    CentrCivico:string;
    CentrCap3:string;
    CentrCap2:string;
    CentrCap:string;
    CentrAreaCircolazione:string;
    CentrAreaCirc3:string;
    CentrAreaCir2:string;
    Allineamento:boolean; -->