<!-- 
<ng-template  name="content" #content let-modal class="modal-lg">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
    
      <table id="tblBIArchive" class="table table-striped table-bordered ">
        <thead id="thd">
            <tr>
                <th>ProtDomanda</th>
                <th>ProtRichiesta</th>
                <th>DataPresaIncarico</th>
                <th>IndAreaCirc</th>
                <th>IndCap</th>
                <th>IndCognome</th>
                <th>IndNome</th>
                <th>ReqCap</th>
                <th>ReqCf</th>
                <th>ReqCognome</th>
                <th>ReqNome</th>
                <th>ReqIstatComune</th>
                <th>TipoDomanda</th>
                <th>CodUtenteCentr</th>
                <th>CodUtenteInd</th>
            </tr>
        </thead>
        <tbody id="tblBIArchiveBody">
          <tr  *ngFor="let item of biuser"  confirm [lotto]="item"  app-lotti>
          </tr>
        </tbody>
    </table>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Chiudi</button>
    </div>
  </ng-template>
  
   -->